@import './colors.scss';

button, .btn, .btn2 {
    background-color: $c_redlight;
    padding: 1em 2em;
    color: $c_white1;
    font-size: 1rem;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    margin-right: .5rem;
    transition: background-color .1s, color .1s;

    &:hover {
        background-color: $c_reddark;
    }

    &.light {
        background-color: $c_white1;
        color: $c_black;

        &:hover {
            background-color: $c_white2;
            color: $c_black;
        }
    }
    &.btn2 {
        background-color: rgba($color: #fff, $alpha: 0.0);
        box-shadow: 0 0 0 3px $c_white inset;

        &:hover {
            background-color: rgba($color: #fff, $alpha: 1.0);
            color: $c_bg1;
        }
    }
}

.card {
    background: $g_purple;
    border-radius: 5px;
    padding: 4em 2em 6em 2em;
    text-align: left;
    margin: .5em;
    z-index: 3;
    position: relative;

    &.red {
        background: $g_red;
    }

    p {
        margin: 0;
    }

    h2 {
        margin-top: .5em;
    }

    .symbol-square {
        border: 3px solid #fff;
        height: 2em;
        width: 2em;
    }
    
    .symbol-circle {
        border-radius: 50%;
        border: 3px solid #fff;
        height: 2em;
        width: 2em;
    }

    .symbol-triangle {
        width: 2em;
        height: 2em;    
    }   
}

.card-profile {
    background: $g_purple;
    border-radius: 5px;
    padding: 1.5em 2em;
    margin-bottom: 1em;
    width: 100%;
    box-sizing: border-box;
    z-index: 3;
    position: relative;
    display: flex;

    .avatar {
        height: 5rem;
        width: 5rem;
        background-size: cover;
        background-position: center;
        background-color: $c_white;
        border-radius: 50%;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .content {
        flex: 1;
        padding: 0 1em;

        h2 {
            font-weight: bold;
            color: $c_white;
            font-size: 1.5em;
            margin: 0;
        }

        p {
            margin: .2em 0;
        }

    }
}

@media screen and (max-width: 920px) {
    .card-profile {
        flex-direction: column;

        .content {
            padding: 1rem 0;
        }
    }
}