@import './colors.scss';

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.section-hero {
    min-height: 95vh;
    align-items: center;
    justify-content: flex-end;

    .one {
        display: flex;
        justify-content: content;
    }
}

.section-split {
    display: flex;

    .one, .two {
        flex: 1;
    }

    .two {
        max-width: 100%;
        padding: 1em 3rem;

        p {
            max-width: 500px;
        }
    }
}

.section-card {
    padding: 2rem 7rem 7rem 7rem;
    text-align: center;
}

.card-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    z-index: 3;

    .card {
        flex: 1;
    }
}

.section-team {
    padding: 15rem 8rem 5rem 8rem;
    
    p {
        max-width: 500px;
    }

    .card-list {
        flex-direction: column;
    }

    .two {
        padding-top: 0;
    }
}

.section-overlay {
    padding: 8rem 8rem 0 8rem;
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 50%;
        background-color: $c_bg1;
        position: absolute;
        top: 0;
        left: 0;
    }

    .overlay-card {
        padding: 3rem 1em;
        border-radius: 5px;
        width: 100%;
        position: relative;
        z-index: 5;
        text-align: center;
        box-sizing: border-box;

        h1 {
            margin-bottom: .5em;
        }

        h1, a {
            position: relative;
            z-index: 7;
        }
    }
}

.nav {
    padding: 1rem 8rem;
    display: flex;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 99;
    transition: background-color .5s;

    .hamburger {
        display: none;
        color: white;
        
        .icon {
            cursor: pointer;

            &:hover {
                opacity: .5;
            }
        }
    }

    .brand {
        flex: 1;
        display: flex;
        align-items: center;

        img {
            height: 2rem;
        }

        p {
            color: $c_white;
            font-weight: bold;
            margin: 0;
            display: inline-block;
            padding-left: .7em;
        }
    }
    .item {
        padding: .7em 0 .7em 2.5em;
        &.btn {
            padding: .7em 2.5em;
            margin-left: 2em;
        }
    }

    &.bg {
        background-color: $c_purple1;
    }
}

.hero-image {
    height: 50vh;
    width: 45vw;
    transform: translateX(-20%);
}

.spacing-section {
    margin: 10rem 0;
    z-index: 5;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-footer {
    display: flex;
    padding: 5em 8rem;

    .part {
        margin-right: 6rem;

        img {
            height: 4rem;
        }

        h2 {
            font-size: 1em;
            font-weight: bold;
            color: $c_white;
            margin-top: 0;
        }

        p, &.url-list a {
            margin: .5em 0;
            display: block;
        }

        &.social-media {
            text-align: right;
            margin-right: 0;

            .icon {
                height: 2rem;
                width: 2rem;
                background-color: $c_bg1;
                border-radius: 500px;
                display: inline-block;
            }
        }

        &.spaced {
            flex: 1;
        }
    }
}

//decoration
.symbol-image {
    height: 15em;
    width: 15em;
    background-color: $c_redlight;
    border-radius: 2px;
    transform: translateX(-1em);
    margin-right: 10em;

    &::before {
        content: "";
        height: 20em;
        width: 20em;
        border-radius: 50%;
        background-color: $c_purple1;
        transform: translateX(5em) translateY(-2em);
        position: absolute;
    }

    &::after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 15em 15em;
        border-color: transparent transparent $c_redlight transparent;
        transform: translateX(2em) translateY(4em);
        position: absolute;
    }
}

.section-marker {
    position: relative;

    &::before {
        content: "77";
        font-size: 10em;
        position: absolute;
        margin: 0;
        left: -.25em;
        top: 0;
        font-weight: bold;
        color: $c_purple2;
    }
    &.bg-darkpurple::before {
        color: $c_bg1;
    }
    &.s01::before {
        content: "01";
    }
    &.s02::before {
        content: "02";
    }
    &.s03::before {
        content: "03";
    }
}

.card-deco {
    overflow: hidden;

    .circle-1, .circle-2 {
        content: "";
        height: 20rem;
        width: 20rem;
        position: absolute;
        border: 3.5rem solid $c_white2;
        top: -5rem;
        left: -13.5rem;
        border-radius: 50%;
        z-index: 6;
    }

    .circle-2 {
        right: -13.5rem;
        left: auto;
        bottom: -13.5rem;
        top: auto;
    }
}

.overlay-circle {
    position: relative;
    .circle {
        content: "";
        height: 25rem;
        width: 25rem;
        position: absolute;
        border: 3.5rem solid $c_purple2;
        bottom: -20rem;
        right: -10rem;
        border-radius: 50%;
        z-index: 2;
    }

    &.alt-circle .circle {
        right: auto;
        left: -20rem;
        bottom: -5rem;
    }
}

.deco-square {
    position: relative;

    &.hide {
        overflow: hidden;
    }
    .square {
        content: "";
        height: 15rem;
        width: 15rem;
        transform: rotate(45deg);
        position: absolute;
        border: 3.5rem solid $c_bg1;
        border-radius: 5px;
        bottom: -5rem;
        left: 20rem;
        z-index: 2;
        opacity: .5;
    }

    &.alt-square .square {
        left: auto;
        bottom: auto;
        top: -5rem;
        right: -10rem;
        border-color: $c_purple2;
        opacity: 1;
    }
}

@media screen and (max-width: 1110px) {
    .section-split, .card-list {
        flex-direction: column;
    }

    .symbol-image {
        margin: 10rem 10rem 4rem 5rem;
        font-size: .7em;
    }

    .spacing-section {
        margin: 0 auto 5rem auto;
    }

    .nav {
        padding: 1rem 5rem;
        flex-wrap: wrap;

        .brand, .hamburger {
            flex: 1;
        }

        &.closed .item {
            display: none;
        }

        .item {
            width: 100%;
            padding: .7em 2.5em;
            text-align: center;

            &.btn {
                padding: .7em 2.5em;
                margin-left: 2em;
            }
        }

        .hamburger {
            display: block;
            text-align: right;
        }
    }

    .section-team {
        padding: 5rem 5rem;

        .one {
            padding: 2rem 0;
        }

        .two {
            padding: 0;
        }
    }

    .card-list {
        margin: 0;
    }

    .section-card {
        padding: 0 5rem 5rem 5rem;
    }

    .section-overlay {
        padding: 5rem 5rem 1rem 5rem;
    }

    .section-footer {
        padding: 3rem 5rem;
    }
}

@media screen and (max-width: 940px) {
    .section-footer {
        .part {
            margin-right: 1rem;
        }
        .part.social-media {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 676px) {
    .symbol-image {
        margin: 7rem 8rem 4rem 2rem;
    }

    .spacing-section {
        margin: 0 auto 5rem auto;
    }

    .section-team {
        padding: 5rem 2rem;
    }

    .section-card {
        padding: 0 2rem 5rem 2rem;
    }

    .section-overlay {
        padding: 5rem 2rem 1rem 2rem;
    }

    .nav {
        padding: 1rem 2rem;
    }

    .section-footer {
        padding: 3rem 2rem;
        flex-wrap: wrap;
        .part.url-list {
            margin-top: 3rem;
        }
        .part.social-media {
            order: -1;
            text-align: left;
            width: 100%;
            flex: auto;
        }

        .part.brand {
            order: -2;
            width: 100%;
        }
    }
}