@import './colors.scss';

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: $c_white3;
}

p {
    line-height: 1.4;
}

.txt-hero, .txt-bigheading, .txt-heading {
    color: $c_white;
    font-weight: bold;
    margin: 0;

    &.txt-hero {
        font-size: 3em;
        line-height: 1.1;
        margin: .5em 0 .2em 0;
    }

    &.txt-bigheading {
        font-size: 3em;
        margin: .5em 0 .2em 0;
    }

    &.txt-heading {
        font-size: 1.7em;
        margin: .5em 0 .2em 0;
    }

    &.txt-spaced {
        margin: 1em 0;
    }

    &.txt-red {
        color: $c_redtext;
    }
}

.link-unstyled {
    text-decoration: none;
    color: $c_white;
    &:hover {
        text-decoration: none;
        color: $c_white;
    }
}

a {
    text-decoration: none;
    color: $c_redlighter;

    &:focus, &:hover {
        text-decoration: underline;
        color: $c_redlighter;
    }
}